<md-card class="login-box">
  <md-card-header class="title">Open account</md-card-header>
  <md-card-content>
    <a class="create-account" routerLink="../register">Create new account</a>
    <form novalidate (submit)="openWallet(form.value)" [formGroup]="form">
      <md-form-field class="form-field">
        <input mdInput type="password"
               [formControl]="password" placeholder="Account password">
      </md-form-field>
      <button type="submit"
              class="mat-primary login-btn" md-raised-button>Login</button>
    </form>
  </md-card-content>


</md-card>
