@import "~@angular/material/theming";

@mixin main-theme($theme) {
  $primary: map-get($theme, primary);
  $primaryHover: map-get($theme, primary);

  .site-header {
    background: mat-color($primary);

    a:hover {
      background: mat-color($primaryHover, 400);
    }
  }
}
