<md-card class="register-box">
  <md-card-header>
    <h3 class="title">Create new account</h3>
  </md-card-header>
  <md-card-content>
    <a class="create-account" routerLink="../login">Open existing account</a>
    <div>
      <button type="button"
              class="mat-primary" md-raised-button>Create an empty account</button>
    </div>

    <div>
      <button type="button"
              class="mat-primary login-btn" md-raised-button>Create a new account with a secret key</button>
    </div>
  </md-card-content>


</md-card>
