:host {
  display: flex;
  justify-content: center;
}

.register-box {
  background-color: #eeeeee;
  padding: 2rem;
  width: 30rem;
  margin-top: 3rem;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  justify-content: center;
}

.to-login {
  display: block;
  text-align: center;
  margin-top: 1rem !important;
}

.register-form {
  margin-top: 2rem;
  padding: 0 30px;
}

.register-btn {
  width: 100%;
  margin-top: 0.5rem;
}
