<md-card class="register-box">
  <md-card-header class="title">Create new account</md-card-header>
  <md-card-content>
    <a class="to-login" routerLink="../login">Open existing account</a>
    <form novalidate class="register-form" (submit)="register(form.value)">

      <md-form-field class="form-field">
        <input mdInput placeholder="Create a password" type="password" [formControl]="password">
      </md-form-field>
      <button type="submit"
              class="mat-primary register-btn" md-raised-button [disabled]="!form.valid">Register</button>
    </form>
  </md-card-content>


</md-card>
