@import "../../core/core.style";
.main-container {
  width: 80%;
  margin: 0 auto;
}

.site-header {
  display: flex;
  justify-content: space-between;
  height: 56px;
  line-height: 56px;

  a {
    display: block;
    padding: 0 1rem;
    cursor: pointer;
    color: #fff;
  }

  .nav {
    display: flex;
  }

}
