<div class="main-container">
  <header class="site-header mat-elevation-z6" color="primary">
    <div class="nav left-nav">
      <a class="mat-button" routerLink="/overview">Overview</a>
      <a class="mat-button" routerLink="/accounts">Accounts</a>
      <a class="mat-button" routerLink="/history">Send</a>
      <a class="mat-button" routerLink="/contacts">Contacts</a>
      <a class="mat-button" routerLink="/send">History</a>
    </div>
    <div class="nav right-nav">
      <div>dfasdfads</div>
      <div>
        <a>setting</a>
      </div>
    </div>
  </header>
  <div class="main-content-container">
    <router-outlet></router-outlet>
  </div>
</div>
