@import "../../core/core.style.scss";

header {
  background-color: $primaryColor;
  height: 4rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
