<div class="accounts">
  <div class="account-item mat-elevation-z1" *ngFor="let account of accounts">
    <div class="detail">
      <div class="available">
        <span>Available: </span>
        <span>3000</span>
      </div>
      <div class="reserve">
        <span>Reserve: </span>
        <span>3000</span>
      </div>
    </div>
    <div class="total">
      <span>Total: </span>
      <span>{{account.xrpBalance}}</span>
    </div>
  </div>
  <div class="no-account mat-elevation-z4">
    <p>haven't account? go to create <a>account</a></p>
  </div>
</div>
